.padding {
    float: right;
}
.todo-title {
    background: #da7b41;
    color: khaki;
}
.list-group-item {
    color: brown;
}
p{
    padding: 1px;
    border-bottom: 1px solid #6b4600;
}
.line {
    text-decoration: line-through;
  }
input[type=checkbox]:checked + label.strikethrough{
    text-decoration: line-through;
  }
.todo-container {
    width: 400px;
}
input{
   text-align:center;
}
.box {
    padding-left: 30px;
}
h2 {
    font-family: 'Shrikhand', cursive;
}