<div class="container todo-container mt-3">
    <div class="col">
        <div class="todo-title">
            <h2 class="text-center mb-0 pt-3">Todo List!</h2>
        </div>

        <!-- create Chore -->
        <div class="text-center todo-title py-3">
            <input [(ngModel)]="todoInput" placeholder="What's to do? Type here." size="30">
            <button class="btn btn-danger" (click)="createTodo()">Click to add to your todo list!</button>
        </div>
    </div>
    <!-- Chore  -->
    <div class="row border-bottom">
        <div class="container list-group-item list-group-item-warning test">
            <p *ngFor="let chore of todos">
                <!-- {{chore}} -->

                <!-- Edit -->
                <i class="fas fa-pencil-alt" (click)="editTodo(chore)"></i>
                <!-- Deletes Chore -->
                <i class="far fa-trash-alt p-1" (click)="deleteTodo(chore)"></i>
                <!-- Completed -->
                <span class="box">
                    <input class="form-check-input p-1" type="checkbox" value="" id="defaultCheck1">
                    <label class="strikethrough">{{chore}}</label>
                </span>
            </p>
        </div>
    </div>
</div>